node_modules/

.cache/
*.swp
.vscode/
.idea/

*.tmp
*.log
*.pid
*.seed
*.pyc
*.pyo
*.pyd
__pycache__/

boot/
opt/
run/
lib/
mnt/
media/
proc/
sys/
dev/

.ssh/
known_hosts

.env
*.env.local
.env.production

*.egg-info/
dist/
build/

pip-selfcheck.json

yarn.lock
package-lock.json
Pipfile.lock

.mosquitto/

*.o
*.out
*.a
*.so

*~
*#

bin/
obj/
